<!DOCTYPE html>
<html>
  <head>
    <title>NewsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}")%>
    <% end %>
    
    <% if user_signed_in? %>
      <%= link_to "Submit link", new_link_path %>
      <%= link_to "Account", edit_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Signup", new_user_registration_path %>
      <%= link_to "Signin", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
